{% extends 'base.twig' %}

{% block body %}
<div class="container">
    <h1 class="mb-3 mt-3 text-center">Welcome my blog!</h1>
    <div class="container row justify-content-center mb-3">
        <div class="card p-1" style="width: 18rem;">
            <img src="https://dummyimage.com/300x200/0f15d1/fff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="post1" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem;">
            <img src="https://dummyimage.com/300x200/0f15d1/fff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="post2" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem;">
            <img src="https://dummyimage.com/300x200/0f15d1/fff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="post3" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="container row justify-content-center mb-3">
        <div class="card p-1" style="width: 18rem;">
            <img src="https://dummyimage.com/300x200/0f15d1/fff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="post4" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem;">
            <img src="https://dummyimage.com/300x200/0f15d1/fff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="post5" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card p-1" style="width: 18rem;">
            <img src="https://dummyimage.com/300x200/0f15d1/fff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="post6" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}