{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img src="https://dummyimage.com/1200x400/0f15d1/fff" class="card-img-top img-fluid" alt="...">
        <h1 class="mt-3">Blog Post Title: {{ url_key }}</h1>
        <div class="container mb-3">
            <div class="row">
                <span class="text-muted">Author: D. Levchenko | 20.02.21</span>
            </div>
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores cupiditate delectus deleniti dolore doloribus eaque earum eius fuga ipsa iure labore molestias obcaecati quae, quaerat suscipit ullam veniam voluptatum?
        </div>
    </div>
{% endblock %}